<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar Menu | Mol Air </title>
    <link rel="stylesheet" href="styled-navigation.component.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-markdown'></i>
      <span class="logo_name">Mol Air</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Category</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bxs-plane-take-off' ></i>
            <span class="link_name">Flight</span>
          </a>
          
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Category</a></li>
          <li><a [routerLink]="['/Flights']" [routerLinkActive]="['link-active']">Regular</a></li>
          <li><a href="#">Special</a></li>
          <li><a href="#">First Class</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">Bookings</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Posts</a></li>
          <li><a [routerLink]="['/Bookings']" [routerLinkActive]="['link-active']">Customer Bookings</a></li>
          <li><a href="#">Login Form</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-notification' ></i>
          <span class="link_name">Notifications</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Notifications</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-line-chart' ></i>
          <span class="link_name">Chart</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Chart</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-trophy'></i>
          <span class="link_name">Rewards</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Rewards</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-history'></i>
          <span class="link_name">History</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">History</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">Setting</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Setting</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <img src="/assets/images/Profile.jpg" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">Aiden Pearce</div>
        
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
  </li>
</ul>
  </div>
  
  <section class="home-section">
    <div class="home-content">
      <i class='bx bxs-plane-land'></i>
      <span class="text">Mol Air</span>
    </div>

    <div class="table-Content">
      <router-outlet></router-outlet>
    </div>
  </section>
  
</body>
</html>
